/* تنسيق عام */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #blue;    text-align: center;
    background-color: #736d6d; /* السطر ده ممتاز تعملوا فيه Conflict */
    text-align: center;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
}

.content-section {
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #218838;
}